<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
        <add value="default.php" />
      </files>
    </defaultDocument>
    
    <!-- URL Rewrite Rules for Moodle -->
    <rewrite>
      <rules>
        <!-- Deny access to config.php -->
        <rule name="Deny config.php" stopProcessing="true">
          <match url="^config\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
        
        <!-- Deny access to moodledata directory -->
        <rule name="Deny moodledata" stopProcessing="true">
          <match url="^moodledata/.*" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
        </rule>
        
        <!-- Main Moodle rewrite rule -->
        <rule name="Moodle" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Security Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    
    <!-- PHP Settings -->
    <handlers>
      <remove name="PHP81_via_FastCGI" />
      <add name="PHP81_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v8.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    
    <!-- Error Pages -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Directory Browsing -->
    <directoryBrowse enabled="false" />
    
    <!-- Static Content -->
    <staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
  
  <!-- PHP Configuration -->
  <system.web>
    <httpRuntime maxRequestLength="51200" executionTimeout="300" />
  </system.web>
</configuration>
